<h1 class="text-center">Chats</h1>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Sender ID</th>
                <th>Receiver ID</th>
                <th>Details</th>
                <th>Edit</th>
            </tr>
            <% @chats.each do |chat|%>
                <tr>
                    <td><%= chat.sender_id %></td>
                    <td><%= chat.receiver_id %></td>
                    <td><%= link_to("Details", chat_path(chat)) %></td>
                    <td><%= link_to 'Edit', edit_chat_path(chat), class: 'btn btn-sm btn-primary' %></td>
                </tr>
            <% end %>
        </table>
        <div class="text-center mt-4">
            <%= link_to 'New Chat', new_chat_path, class: 'btn btn-danger' %>
        </div>
    </div>
</div>
