<h1>New Chat</h1>

<%= form_with(model: @chat, local: true) do |f| %>
    <% if @chat.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@chat.errors.count, "error") %> this chat cant be saved:</h2>
  
        <ul>
          <% @chat.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :sender_id, "Sender" %>
      <%= f.select :sender_id, User.all.collect { |u| [u.first_name + " " + u.last_name, u.id] }, prompt: "Select sender" %>
    </div>
  
    <div>
      <%= f.label :receiver_id, "Receiver" %>
      <%= f.select :receiver_id, User.all.collect { |u| [u.first_name + " " + u.last_name, u.id] }, prompt: "Select receiver" %>
    </div>
  
    <div>
      <%= f.submit "Create Chat" %>
    </div>
  <% end %>