<h1 class="text-center">Chat Details</h1>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
      <tr>
        <td><%= @chat.id %></td>
        <td><%= @chat.sender.first_name %> <%= @chat.sender.last_name %></td>
        <td><%= @chat.receiver.first_name %> <%= @chat.receiver.last_name %></td>
        <td><%= @chat.created_at %></td>
        <td><%= @chat.updated_at %></td>
      </tr>
    </table>
  </div>
</div>

<div class="container mt-5">
  <h3 class="mb-3">Messages</h3>
  <ul class="list-group">
    <% @messages.each do |message| %>
      <li class="list-group-item d-flex justify-content-between">
        <strong>#<%= message.id %></strong>
        <%= link_to "View Message", message_path(message), class: "btn btn-sm btn-outline-primary" %>
      </li>
    <% end %>
    <% if @messages.empty? %>
      <li class="list-group-item">No messages yet in this chat.</li>
    <% end %>
  </ul>
</div>

<div class="text-center mt-4">
  <% if user_signed_in? %>
    <%= link_to 'Edit Chat', edit_chat_path(@chat), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "All Chats", chats_path, class: "btn btn-secondary" %>
</div>
